---
layout: default
title: Stojan Dimitrovski
og_type: website
description: Stojan Dimitrovski is a software developer and designer from Macedonia.
---

<section id="about" class="quick">
  <header class="verbose">
    <h1>About Me</h1>
  </header>

  <p>I’m a software developer &amp; designer from Macedonia.</p>
</section>

{% capture has_post %}{% for post in site.posts limit:1 %}true{% endfor %}{% endcapture %}

<section id="latest" class="quick{% if has_post != "true" %} verbose{% endif %}">
  <header>
    <h1>Latest</h1>
  </header>

  <ul>
  {% for post in site.posts limit:1 %}
    <li id="blogpost">
      <div class="section">
        Blogpost
      </div>
      <div class="content">
        <a href="{{ post.url }}" target="_blank" title="{{ post.title }}">{{ post.title }}</a>
      </div>
    </li>
  {% endfor %}

    <li id="commit">
      <div class="section">
        Commit
      </div>
      <div class="content">
        <div class="project"></div>
        <div class="commit"></div>
      </div>
    </li>
  </ul>
</section>

<section id="links" class="quick">
  <header>
    <h1>Links</h1>
  </header>

  <nav>
    <ul>
      <li id="github">
        <div class="section">
          GitHub
        </div>
        <div class="content">
          <a href="https://github.com/{{ site.author.github }}" title="GitHub" target="_blank">{{ site.author.github }}.git</a>
        </div>
      </li>

      {% if has_post == "true" %}
      <li id="blog">
        <div class="section">
          Blog
        </div>
        <div class="content">
          <a href="/i" title="Blog" target="_blank">stojan dimitrovski/i</a>
        </div>
      </li>
      {% endif %}

      <li id="twitter">
        <div class="section">
          Twitter
        </div>
        <div class="content">
          <a href="https://twitter.com/{{ site.author.twitter }}" title="Twitter" target="_blank">@{{ site.author.twitter }}</a>
        </div>
      </li>

      <div class="separator">
      </div>

      <li id="of-interest">
        <div class="section">Of Interest</div>
        <div class="content">
          <a href="/reading-list" target="_blank">Reading List</a>
        </div>
      </li>
    </ul>
  </nav>
</section>

<section id="contact" class="quick">
  <header>
    <h1>Contact</h1>
  </header>

  <p>I live in Skopje, Republic of Macedonia.</p>

  <ul>
    <li id="email">
      <div class="section">
        Email
      </div>
      <div class="content">
      </div>
    </li>

    <li id="skype">
      <div class="section">
        Skype
      </div>
      <div class="content">
        stojan.dimitrovski
      </div>
    </li>
  </ul>
</section>

{% include github_events.html %}
{% include email.html %}

<script type="text/javascript">
  placeEmail("#email .content");
</script>
