<script type="text/javascript" src="/assets/js/zepto.js{{ site.assets.zepto.v }}"></script>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/webfont/1.5.3/webfont.js"></script>

<script type="text/javascript">
$(function() {
  setTimeout(function() {
    $(document.body).css({ opacity: '1' });
  }, 1000);
});
</script>

<script type="text/javascript">
var measure = function() {
  var max = 0;

  var post = $("#post").width();

  $("#post pre").forEach(function(pre) {
    var $pre = $(pre);

    var width = $pre.width();
    var parent = $($pre.parent()).width();
    var offset = (width - parent) / 2;

    if (width > max) {
      max = width;
    }

    if (offset <= 0) {
      offset = 0;
    } else {
      offset = -offset;
    }

    $pre.css({ position: 'relative', opacity: 1, left: (offset + "px") });
  });

  if (max > $(document.body).width) {
    $("meta[name=viewport]").attr({ content: ("width=" + max) });
  }
};

$(document).on("webfont-active", measure);
</script>
