@import "common";

$background-color: #151515;
$base-color: #e6e6e6;
$light-color: #808080;
$accent-color: #80ff80;

html {
  color: $base-color;
  background: $background-color;
}

a {
  color: $accent-color;
}

header#main {
  @include clearfix;

  margin: 1em 0 2em 0;

  font-size: $small-em;
  word-spacing: -0.2em;

  svg {
    float: left;

    margin-right: 1em;
  }

  h1 {
    @include regular-text;

    color: $light-color;
    text-transform: lowercase;

    a {
      color: inherit;

      &:hover {
        color: $accent-color;
      }
    }
  }

  h2 {
    @include regular-text;

    text-transform: uppercase;
  }
}

section {
  margin: 2em 0;

  h1 {
    @include regular-text;

    font-size: $small-em;
    color: $light-color;

    &:before, &:after {
      content: "—";
    }

    &:before {
      margin-right: 0.5em;
    }

    &:after {
      margin-left: 0.5em;
    }
  }

  h2 {
    @include strong-text;

    margin: 2em auto;
  }
}

figure {
  width: 100%;
  margin: 2em auto;
  text-align: center;

  img {
    margin: 0 auto;
    max-width: 100%;

    box-shadow: 0 0 0.5em 3px darken($background-color, 5%);
  }

  &.tall {
    img {
      max-width: 60%;
    }

    figcaption {
      text-align: center;
    }
  }

  figcaption {
    font-size: $small-em;
    text-align: left;
    margin: 1em 0;
    padding: 0 1em 0 1em;
  }
}

#projects {
  margin: 2em 0;

  line-height: 1.6em;

  section {
    .content {
      height: 0;
      opacity: 0;

      @include transition(opacity 0.3s ease-in-out);
    }

    .wait {
      height: auto;
      opacity: 1;

      @include transition(opacity 0.2s ease-in-out);
    }
  }

  section.loaded {
    .wait {
      height: 0;
      opacity: 0;
    }

    .content {
      height: auto;
      opacity: 1;
    }
  }
}

footer {
  margin: 3em 0;

  font-size: $small-em;
  color: $light-color;

  a {
    color: inherit;

    &:hover {
      color: $accent-color;
    }
  }
}

.spinner {
  width: 30px;
  height: 30px;
  margin: 2em auto;
  background-color: $base-color;
  border-radius: 100%;
  -webkit-animation: scaleout 1.0s infinite ease-in-out;
  animation: scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes scaleout {
  0% { -webkit-transform: scale(0.0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes scaleout {
  0% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 100% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

.wait {
  font-size: $small-em;
  text-align: center;
  color: $light-color;
}
